page-register {

    #background{
    background: url('../assets/imgs/signup.png') no-repeat center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

  #container{
    padding-top: 45%;
    opacity: 0.9;

  }




}
