page-home {

}

.slika{

  width: 30%;
  padding-bottom: 5%;


 }
.container{

  background-image: url("../assets/imgs/BeFunky.png");
  background-repeat: no-repeat;
  background-size: cover;

}
.cnt{
  margin-top: 5%;

  border-style: hidden;
  opacity: 0.8;
}
.images{

}

.centar{
  text-align: center;
}
.btns{
  text-align: center;
  width: 40%;
  margin-left: 30%;

}

.btn2{
  text-align: center;
  margin-left: 30%;

  width: 40%;


}
